@{
    ViewBag.Title = "ImportMovie";
}

<br/>

<script src="~/Scripts/importMovie.js" > </script>

<h2 >Import Movie IMDB</h2>
<br/>
<input type="text" id="MovieSeachBar" class="form-control">
<button id="searchMovieButton" class="btn btn-primary btn-block">Search</button>

<table class='table stable-striped>
	<thead>
		<th>
			Select
		</th>
		<th>
			Title
		</th>
		<th>
			Picture
		</th>

	</thead>

</table>