@model MovieR.Controllers.HomeController

<style>
#header .menu a{ float: left; }
#div { length: 10; width:10;}
</style>
<br/>
<div id="header">
</div>
<p>test</p>
<div>
	<div class="menu">	
		<div >
			<a id="t" href="~/Home/Qamar2/"> Home </a>
		</div>
		<div  >
			<a href="~/Home/Qamar/" > Submit </a>
		</div>
		<div >
			<a href="#"> Library </a>
		</div>
	</div>
</div>
